#register-frame {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 40%;
    height: 580px;
    background-color: white;
    margin-top: 50px;
    border-radius: 5px;
    user-select: none;
    position: relative;
}

.field {
    margin-top: 10px;
}
.register-alerts {
    position: absolute;
    top: 10px;
    width: 50%;
}

.close {
    float: right;
    margin-right: 5px;
    background-color: transparent;
    border: none
}
.close:hover {
    font-size: 18px;
}
@media screen and (max-width: 767px) {
    .partial-input, #register-frame, .register-alerts {
        width: 100%;
    }
    #register-frame {
        height: 570px;
    }
    .input {
        width: 100%;
    }
}