#searchUser {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    width: 50%;
}

#searchButton {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

#filter {
    float: left;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
}

#user-table {
    width: 99%;
}

#sortFrame {
    width: 99%;
    margin-top: 50px;
    min-height: 450px;
    height: auto;
    border-radius: 5px;
}